# Directory Ignores ##########################################################
guide/book
target
vendor

# File Ignores ###############################################################
**/*.rs.bk
Cargo.lock
