
# Directory Ignores ##########################################################
guide/book
target
vendor
.idea
.zed
tests/_log
**/__pycache__
.hegel

# File Ignores ###############################################################
**/*.rs.bk
Cargo.lock
.DS_Store
.vscode
