[package]
name = "openraft"
version = "0.6.4"
edition = "2021"
authors = [
    "Databend Authors <opensource@datafuselabs.com>",
    "Anthony Dodd <Dodd.AnthonyJosiah@gmail.com>"
]
categories = ["algorithms", "asynchronous", "data-structures"]
description = "Advanced Raft consensus"
documentation = "https://docs.rs/openraft"
homepage = "https://github.com/datafuselabs/openraft"
keywords = ["raft", "consensus"]
license = "MIT/Apache-2.0"
repository = "https://github.com/datafuselabs/openraft"
readme = "../README.md"

[dependencies]
anyerror = { version = "0.1.6" }
# Leave it for debug
# anyerror = { git = "https://github.com/drmingdrmer/anyerror", branch = "ci",  features = ["anyhow"]}
async-trait = "0.1.36"
byte-unit = "4.0.12"
bytes = "1.0"
derive_more = { version="0.99.9" }
futures = "0.3"
maplit = "1.0.2"
rand = "0.8"
serde = { version="1", features=["derive", "rc"], optional = true}
clap = { version = "~3.2", features = ["derive", "env"] }
thiserror = "1.0.33"
tokio = { version="1.8", default-features=false, features=["fs", "io-util", "macros", "rt", "rt-multi-thread", "sync", "time"] }
tracing = "0.1.29"
tracing-futures = "0.2.4"

[dev-dependencies]
anyhow = "1.0.32"
async-entry = "0.3.1"
lazy_static = "1.4.0"
memstore = { version="0.2.0", path="../memstore" }
pretty_assertions = "1.0.0"
tracing-appender = "0.2.0"
tracing-subscriber = { version = "0.3.3",  features=["env-filter"] }


[features]
docinclude = [] # Used only for activating `doc(include="...")` on nightly.

# Enables benchmarks in unittest.
#
# Benchmark in openraft depends on the unstable feature `test` thus it can not be used with stable rust.
# In order to run the benchmark with stable toolchain,
# the unstable features have to be enabled explicitly with environment variable `RUSTC_BOOTSTRAP=1`.
bench = []

# Enable backtrace when generating an error.
# Stable rust does not support backtrace.
bt  = ["anyhow/backtrace"]

# Add serde::Serialize and serde:Deserialize bound to data types.
# If you'd like to use `serde` to serialize messages.
serde = ["dep:serde"]

[package.metadata.docs.rs]
features = ["docinclude"] # Activate `docinclude` during docs.rs build.
