// Use zellij to run test in parallel.
//
// Install:
//   cargo install zellij
//
// Usage:
//   zellij action new-tab --layout check.kdl
//   zellij --layout check.kdl

simplified_ui true

layout {

    tab name="3m1q" {
        // tab-bar
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }

        pane split_direction="vertical" {
            pane {
                command "cargo"
                args "test" "--lib"
                close_on_exit true
            }
            pane {
                command "cargo"
                args "test" "--test" "*"
                close_on_exit true
            }
            pane {
                command "cargo"
                args "clippy" "--no-deps" "--all-targets" "--" "-D" "warnings"
                close_on_exit true
            }
        }
        // status-bar
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
}
